TABLE {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: "verdana", arial, sans-serif
}
.table-border {
	BORDER-RIGHT: #205fa2 double; BORDER-TOP: #205fa2 double; BORDER-LEFT: #205fa2 double; BORDER-BOTTOM: #205fa2 double
}
TH {
	BORDER-RIGHT: white thin solid; BORDER-TOP: white thin solid; BORDER-LEFT: white thin solid; COLOR: white; BORDER-BOTTOM: white thin solid; BACKGROUND-COLOR: #205fa2; TEXT-ALIGN: justify
}
BODY {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 10pt; BORDER-LEFT: medium none; COLOR: black; SCROLLBAR-ARROW-COLOR: white; SCROLLBAR-TRACK-COLOR: #b4d2e6; BORDER-BOTTOM: medium none; FONT-FAMILY: "Arial Narrow", sans-serif; SCROLLBAR-BASE-COLOR: #205fa2; BACKGROUND-COLOR: white
}
INPUT {
	FONT-SIZE: 10pt; WIDTH: 100%; FONT-FAMILY: "verdana", arial, sans-serif
}
BUTTON {
	BACKGROUND-COLOR: #f5deb3
}
.INPUT-radio {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 10pt; BORDER-LEFT: medium none; WIDTH: 100%; BORDER-BOTTOM: medium none; FONT-FAMILY: "Arial Narrow", sans-serif; TEXT-ALIGN: left
}
INPUT.button {
	
}
INPUT.btn {
	FONT-WEIGHT: bold; FONT-SIZE: 84%; COLOR: #050; FONT-FAMILY: 'trebuchet ms',helvetica,sans-serif
}
.login-mandatory {
	BACKGROUND-COLOR: #FFFFFF
}

.validate-mandatory
{
	BACKGROUND-COLOR: #FFEEFF;
}

.caption {
    FONT-FAMILY: Tahoma; 
    font-size: 11px; 
    color : #333333;
}

.footer {
    FONT-FAMILY: Tahoma; 
    font-size: 8px; 
    color : #333333;
}

.input-display {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; FONT-FAMILY: "Arial Narrow", sans-serif; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: left
}
.button-login {
	font-family: Tahoma; font-size:12px; color:#333333; background-color:#gggddd;
}
.login-header {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; FONT-FAMILY: Tahoma; font-size: 24px; color: #ffffff; BACKGROUND-COLOR: #205fa2
}
.login-body {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; FONT-FAMILY: Tahoma; font-size: 18px; color: #ffffff; BACKGROUND-COLOR: #205fa2
}

.login-caption{
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; FONT-FAMILY: Tahoma; font-size: 12px; color: #ffffff; BACKGROUND-COLOR: #205fa2
}

.imgCROtp { 
background-image: url(images/crotp-token-c.png);
background-position:  0px 0px;
background-repeat: no-repeat;
width: 90px;
height: 90px;
border: 0px;
background-color: #FFFFFF;
cursor: pointer;
outline: 0;
}
.imgCROtp:hover{ 
  background-position:  0px -10px;
}

.imgCROtp:active{
  background-position:  0px -15px;
}

.imgOtp { 
background-image: url(images/otp-token-c.png);
background-position:  0px 0px;
background-repeat: no-repeat;
width: 90px;
height: 90px;
border: 0px;
background-color: #FFFFFF;
cursor: pointer;
outline: 0;
}
.imgOtp:hover{ 
  background-position:  0px -10px;
}

.imgOtp:active{
  background-position:  0px -15px;
}

.imgSMS { 
background-image: url(images/mobile-otp-c.png);
background-position:  0px 0px;
background-repeat: no-repeat;
width: 90px;
height: 90px;
border: 0px;
background-color: #FFFFFF;
cursor: pointer;
outline: 0;
}
.imgSMS:hover{ 
  background-position:  0px -10px;
}

.imgSMS:active{
  background-position:  0px -15px;
}

.imgQRCode { 
background-image: url(images/qr-code-s.png);
background-position:  0px 0px;
background-repeat: no-repeat;
width: 90px;
height: 90px;
border: 0px;
background-color: #FFFFFF;
cursor: pointer;
outline: 0;
}
.imgQRCode:hover{ 
  background-position:  0px -10px;
}

.imgQRCode:active{
  background-position:  0px -15px;
}

.imgPKI { 
background-image: url(images/pki-login-c.png);
background-position:  0px 0px;
background-repeat: no-repeat;
width: 90px;
height: 90px;
border: 0px;
background-color: #FFFFFF;
cursor: pointer;
outline: 0;
}
.imgPKI:hover{ 
  background-position:  0px -10px;
}

.imgPKI:active{
  background-position:  0px -15px;
}

.imgQna { 
background-image: url(images/qna-icon-darker-s.png);
background-position:  0px 0px;
background-repeat: no-repeat;
width: 90px;
height: 90px;
border: 0px;
background-color: #FFFFFF;
cursor: pointer;
outline: 0;
}
.imgQna:hover{ 
  background-position:  0px -10px;
}

.imgQna:active{
  background-position:  0px -15px;
}

.hide-row { display:none; }

BODY
{ 
  background-position : left,center;  
  background-repeat : no-repeat;
}

FONT
{       	
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: "Arial Narrow", sans-serif
}

.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:16px;
    padding:16px 36px;
    float:bottom;
    width:550px;
    opacity: .9;
    position: fixed;
    bottom: 50%;
    overflow: auto;
    z-index:1002;
    top: 200px;
    height: 100px;    
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)    

}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    background:#ffecec url('images/error.png') no-repeat 10px 60%;
    border:1px solid #f5aca6;
    display:none;
    background-position: top left;
    z-index:1003;
}
.success {
    background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
    display:none;
    background-position: top left;
}
.success-noclose {
    background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
    display:none;
    background-position: top left;
    bottom: 14%;
}
.warning {
    background:#fff8c4 url('images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
    display:none;
    background-position: top left;
}
.notice {
    background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
    background-position: top left;
    border:1px solid #8ed9f6;
    display:none;
}


.imgLogout { 
background-image: none;
background-position:  0px 0px;
background-repeat: no-repeat;
width: 100px;
height: 24px;
border: 0px;
background-color: #FFFFFF;
cursor: pointer;
outline: 0;
FONT-FAMILY: Tahoma; 
font-size: 12px; 
color: #ffffff;
right:0px;
BACKGROUND-COLOR: #205fa2
}

.black_overlay{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
}

