<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>com.securemetric.web.servlet.Service</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.securemetric.web.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PKILoginServlet</servlet-name>
        <servlet-class>com.securemetric.web.servlet.PKILoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransServlet</servlet-name>
        <servlet-class>com.securemetric.web.servlet.TransServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QRCodeServlet</servlet-name>
        <servlet-class>com.securemetric.web.servlet.QRCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>restfulUtil</servlet-name>
        <servlet-class>com.securemetric.web.servlet.RestfulUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.securemetric.web.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service</servlet-name>
        <servlet-class>com.securemetric.web.servlet.Service</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransServlet</servlet-name>
        <url-pattern>/TransServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QRCodeServlet</servlet-name>
        <url-pattern>/qrcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>restfulUtil</servlet-name>
        <url-pattern>/restfulUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PKILoginServlet</servlet-name>
        <url-pattern>/PKILoginServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>false</param-value>
    </context-param>
    
    <context-param>
        <param-name>resteasy.scan.providers</param-name>
        <param-value>false</param-value>
    </context-param>
    
    <context-param>
        <param-name>resteasy.scan.resources</param-name>
        <param-value>false</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>Service</servlet-name>
        <url-pattern>/Service</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
