# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
baseurl=https://localhost:8443/j2ee
smsAuth=Y
crOtpAuth=Y
authOption=N
#apiurl=https://192.168.6.218/CentagateWS/webresources
#apiurl=https://cloud.centagate.com/CentagateWS/webresources
#integrationkey=d0212cac5b7848c3e3a90b0d78769cbd4d2209513bbeee1f93aa12db7a39b5d1
#secretkey=cPijtwWmtKtX

#apiurl=https://demo.centagate.com/CentagateWS/webresources
#integrationkey=e37743a026a882a3c9556f1a663ec42b62776df93f6baa664ec19555a338c9cc
#secretkey=AsLwzUHtq8eA
#9dddb13305b6dcbff65b71069286e768c2907448f80570e861c5228211821ed3
apiurl=https://192.168.100.30/CentagateWS/webresources
integrationkey=e37743a026a882a3c9556f1a663ec42b62776df93f6baa664ec19555a338c9cc
secretkey=AsLwzUHtq8eA
#GElAe1uTlZ3t

passwordMinLength=6
passwordComplexity=1

#auyongcompany clound
#integrationkey=ad1ce4fefdf69a33683c8b6d4a14ab4c8c6b2757301352b0e88210df9831a52b
#secretkey=JpjBe9IKMNQO

## Proxy Setting
#proxyHost=192.168.6.99
#proxyPort=808
#proxyUser=WIN-EJ4JV23L83U
#proxyPass=foo123
#cannot remove the properties name. either leave it blank, or put in with value
#proxyHost=
#proxyPort=
#proxyUser=
#proxyPass=

## enable the SSL bypass or not
bypassSslChecking=true
